.shamcards__header{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    height: 500px;
}
.shamcard__outer{
    width: 240px;
    height: 340px;
    border: 1px solid;
    border-radius: 16px;
    transition: ease 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .5s ease;
}
.shamcard__outer:nth-child(1){
    transform: translate(-150%, -44%) rotate(-8deg);
    z-index: 1;
    background-color: coral;
}
.shamcard__outer:nth-child(2){
    transform: translate(-100%, -50%) rotate(-4deg);
    z-index: 2;
    background-color: aqua;
}
.shamcard__outer:nth-child(3){
    transform: translate(-50%, -55%) rotate(0deg);
    z-index: 3;
    background-color: yellow;
}
.shamcard__outer:nth-child(4){
    transform: translate(0, -50%) rotate(4deg);
    z-index: 2;
    background-color: aqua;
}
.shamcard__outer:nth-child(5){
    transform: translate(50%, -44%) rotate(8deg);
    z-index: 1;
    background-color: coral;
}
.shamcard__outer:hover:nth-child(1){
    transform: translate(calc(-150% - 4px), calc(-44% - 30px)) rotate(-8deg);
}
.shamcard__outer:hover:nth-child(2){
    transform: translate(calc(-100% - 2px), calc(-52% - 30px)) rotate(-4deg);
}
.shamcard__outer:hover:nth-child(3){
    transform: translate(-50%, calc(-55% - 30px)) rotate(0deg);
}
.shamcard__outer:hover:nth-child(4){
    transform: translate(2px, calc(-52% - 30px)) rotate(4deg);
}
.shamcard__outer:hover:nth-child(5){
    transform: translate(calc(50% + 4px), calc(-44% - 30px)) rotate(8deg);
}