.form__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 420px;
    height: 370px;
    box-shadow: 0px 6px 11px -3px rgba(0,0,0,0.4);
    border-radius: 20px;
}
.form__header{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__header div{
    font-size: 30px;
    color: #3e3f5e;
    margin-bottom: 10px;
}
.form__header img{
    width: 80px;
    margin-top: 5px;
}

.form__password{
    position: relative;
    margin-top: 22px;
}
.form__password div label{
    display: inline-block;
    font-size: 17px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}
.form__password input{
    border: none;
    width: 320px;
    height: 50px;
    padding-left: 10px;
    background-color: rgb(232,232,232);
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    border-bottom: 2px solid rgb(140,140,140);
}
.form__submit{
    margin-top: 30px;
}
.form__submit button{
    height: 46px;
    width: 320px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 11px 30px;
    background-color: #64c37d;
    color: rgb(255, 255, 255);
}
